<nav class="navbar navbar-expand-lg navbar-dark bg-dark newnavbarcolor">
  <a class="navbar-brand tray-link" href="#">Tray.io</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active new-styles">
        <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item new-styles">
        <%= link_to "Update Twilio", api_status_jobs_path(@apis.first.id) %>
      </li>
      <li class="nav-item dropdown new-styles">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 mysearchbarcolor" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="main-container">
  <div class="header-search-bar">
    <div class="header">
    </div>
  </div>

  <div class="main-dashboard">

    <div class ="sidebar-container">
      <p class="sidebar-links"><i class="fab fa-artstation"></i>Dashboard</p>
      <p class="sidebar-links"><i class="far fa-circle"></i>View APIs</p>
      <p class="sidebar-links"><i class="far fa-user-circle"></i>User Profile</p>
      <p class="sidebar-links"><i class="far fa-user-circle"></i>Main Tray.io</p>
      <p class="sidebar-links"><i class="far fa-circle"></i>Link elsewhere</p>
      <p class="sidebar-links"><i class="far fa-circle"></i>Link elsewhere</p>
      <p class="sidebar-links"><i class="far fa-circle"></i>Link elsewhere</p>
      <p class="sidebar-links"><i class="far fa-circle"></i>Link elsewhere</p>
      <p class="sidebar-links"><i class="far fa-circle"></i>Link elsewhere</p>
      <p class="sidebar-links"><i class="far fa-circle"></i>Sign Out</p>
    </div>

    <div class="api-info-container">
      <div class="usp">
        <h3 class="api-header">Sunset API</h3>
        <% if @sunset_apis.nil? %>
          <p>No APIs in sunset period</p>
        <% else %>
          <% @sunset_apis.each do |sun| %>
            <p class="api-details"><%= sun.name.capitalize %> | <%= sun.sunset_date.strftime("%a %b %e at %l:%M%p") %>
            <button type="button" class="btn btn-primary">Primary</button></p>
          <% end %>
        <% end %>
      </div>
      <div class="usp">
        <h3 class="api-header">Deprecated API</h3>
        <% if @deprecated_apis.nil? %>
          <p>No APIs deprecated</p>
        <% else %>
          <% @deprecated_apis.each do |dep| %>
            <p class="api-details"><%= dep.name.capitalize %></p>
          <% end %>
        <% end %>
      </div>
      <div class="usp">
        <h3 class="api-header">Functioniong APIs</h3>
        <% @apis.each do |api| %>
          <p class="api-details"><%= api.name.capitalize %></p>
        <% end %>
        <hr class="bar"></hr>
      </div>
    </div>

  </div>
</div>